js/node-red-highcharts.json
[{"id":"2a02c3e9.d5fd3c","type":"mqtt-broker","z":"743c2293.8bc3dc","broker":"accrete.org","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"30","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"cb01b692.34fe48","type":"mqtt in","z":"743c2293.8bc3dc","name":"sensor-output","topic":"/sensor/neurite-00016943/out","broker":"2a02c3e9.d5fd3c","x":89,"y":308,"wires":[["1ca6f15a.e3590f"]]},{"id":"e5a204ff.1a5df8","type":"file","z":"743c2293.8bc3dc","name":"raw.json","filename":"/opt/web/highcharts/raw.json","appendNewline":false,"createDir":false,"overwriteFile":"true","x":832.5,"y":306,"wires":[]},{"id":"67593f6a.98a6c","type":"function","z":"743c2293.8bc3dc","name":"craft","func":"raw = JSON.parse(msg.payload);\n\nvar json_initializer = {\n    \"xData\": [],\n    \"datasets\": [{\n        \"name\": \"Light\",\n        \"data\": [],\n        \"unit\": \"lux\",\n        \"type\": \"spline\",\n        \"valueDecimals\": 0\n    }, {\n        \"name\": \"Temperature\",\n        \"data\": [],\n        \"unit\": \"°C\",\n        \"type\": \"spline\",\n        \"valueDecimals\": 2\n    }, {\n        \"name\": \"Pressure\",\n        \"data\": [],\n        \"unit\": \"hPa\",\n        \"type\": \"area\",\n        \"valueDecimals\": 2\n    }, {\n        \"name\": \"Humidity\",\n        \"data\": [],\n        \"unit\": \"%\",\n        \"type\": \"spline\",\n        \"valueDecimals\": 2\n    }, {\n        \"name\": \"Average Current\",\n        \"data\": [],\n        \"unit\": \"mA\",\n        \"type\": \"spline\",\n        \"valueDecimals\": 0\n    }, {\n        \"name\": \"Voltage\",\n        \"data\": [],\n        \"unit\": \"mV\",\n        \"type\": \"spline\",\n        \"valueDecimals\": 0\n    }, {\n        \"name\": \"Available Energy\",\n        \"data\": [],\n        \"unit\": \"mWh\",\n        \"type\": \"area\",\n        \"valueDecimals\": 0\n    }, {\n        \"name\": \"TTE\",\n        \"data\": [],\n        \"unit\": \"mins.\",\n        \"type\": \"spline\",\n        \"valueDecimals\": 0\n    }]\n};\n\nvar json = context.get('json') || json_initializer;\n//var json = json_initializer;\nnode.warn('length: ' + json.xData.length);\nvar ts = Date.parse(new Date()) + 8*60*60*1000;\njson.xData.push(ts);\nnode.warn('push: ' + ts);\nvar b_shift = false;\nif (json.xData.length > 168) {\n    b_shift = true;\n    node.warn('shift: ' + json.xData.shift());\n}\njson.datasets.forEach(function(obj) {\n    if (b_shift)\n        node.warn('shift: ' + obj.name + ': ' + obj.data.shift());\n    switch (obj.name) {\n        case \"Light\":\n        obj.data.push(raw.light);\n            break;\n        case \"Temperature\":\n        obj.data.push(raw.temp);\n            break;\n        case \"Pressure\":\n        obj.data.push(raw.pres);\n            break;\n        case \"Humidity\":\n        obj.data.push(raw.humi);\n            break;\n        case \"Average Current\":\n        obj.data.push(raw.ac);\n            break;\n        case \"Voltage\":\n        obj.data.push(raw.volt);\n            break;\n        case \"Available Energy\":\n        obj.data.push(raw.sae);\n            break;\n        case \"TTE\":\n        obj.data.push(raw.tte);\n            break;\n        default:\n            console.log(\"unhandled object name\");\n            break;\n    }\n    node.warn('push: ' + obj.name + ': ' + obj.data[obj.data.length - 1]);\n});\n//node.warn(json);\ncontext.set('json', json);\nmsg.payload = json;\nreturn msg;","outputs":1,"noerr":0,"x":515,"y":305,"wires":[["10354eb2.efcab1","c07cbc67.3f834"]]},{"id":"1ca6f15a.e3590f","type":"switch","z":"743c2293.8bc3dc","name":"neurite-sensor-switch","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"checkin","vt":"str"},{"t":"cont","v":"{\"light\"","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":284,"y":306,"wires":[["e75a558f.18a5a8"],["67593f6a.98a6c"],["9424c4a4.6bdb38"]]},{"id":"e75a558f.18a5a8","type":"debug","z":"743c2293.8bc3dc","name":"debug checkin","active":true,"console":"false","complete":"payload","x":547,"y":195,"wires":[]},{"id":"c07cbc67.3f834","type":"debug","z":"743c2293.8bc3dc","name":"debug","active":false,"console":"false","complete":"true","x":672,"y":250,"wires":[]},{"id":"10354eb2.efcab1","type":"json","z":"743c2293.8bc3dc","name":"","x":683.5,"y":306,"wires":[["e5a204ff.1a5df8"]]},{"id":"9424c4a4.6bdb38","type":"debug","z":"743c2293.8bc3dc","name":"debug misc","active":true,"console":"false","complete":"payload","x":538,"y":366,"wires":[]}]
